In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
!pip install chart_studio

Requirement already satisfied: chart_studio in c:\users\mstas\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: plotly in c:\users\mstas\anaconda3\lib\site-packages (from chart_studio) (5.9.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\mstas\anaconda3\lib\site-packages (from chart_studio) (1.3.3)
Requirement already satisfied: requests in c:\users\mstas\anaconda3\lib\site-packages (from chart_studio) (2.26.0)
Requirement already satisfied: six in c:\users\mstas\anaconda3\lib\site-packages (from chart_studio) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\mstas\anaconda3\lib\site-packages (from plotly->chart_studio) (8.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mstas\anaconda3\lib\site-packages (from requests->chart_studio) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\mstas\anaconda3\lib\site-packages (from requests->chart_studio) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mstas\anaconda3\lib\site-packages (from requests->chart_studio) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mstas\anaconda3\lib\site-packages (from requests->chart_studio) (3.2)

In [4]:
import chart_studio.plotly as py

In [5]:
df=pd.read_csv('C:\\Users\\mstas\\Desktop\\Project 3\\ufo_sighting_data.csv', dtype={'length_of_encounter_seconds': 'string','latitude': 'string'})
print('Global UFO Sightings /n')
print(df.columns.values)
df.head

Global UFO Sightings /n
['Date_time' 'city' 'state/province' 'country' 'UFO_shape'
 'length_of_encounter_seconds' 'described_duration_of_encounter'
 'description' 'date_documented' 'latitude' 'longitude']

<bound method NDFrame.head of               Date_time                  city state/province country  \
0      10/10/1949 20:30            san marcos             tx      us
1      10/10/1949 21:00          lackland afb             tx     NaN
2      10/10/1955 17:00  chester (uk/england)            NaN      gb
3      10/10/1956 21:00                  edna             tx      us
4      10/10/1960 20:00               kaneohe             hi      us
...                 ...                   ...            ...     ...
80327    9/9/2013 21:15             nashville             tn      us
80328    9/9/2013 22:00                 boise             id      us
80329    9/9/2013 22:00                  napa             ca      us
80330    9/9/2013 22:20                vienna             va      us
80331    9/9/2013 23:00                edmond             ok      us

      UFO_shape length_of_encounter_seconds described_duration_of_encounter  \
0      cylinder                        2700                      45 minutes
1         light                        7200                         1-2 hrs
2        circle                          20                      20 seconds
3        circle                          20                        1/2 hour
4         light                         900                      15 minutes
...         ...                         ...                             ...
80327     light                         600                      10 minutes
80328    circle                        1200                      20 minutes
80329     other                        1200                            hour
80330    circle                           5                       5 seconds
80331     cigar                        1020                      17 minutes

                                             description date_documented  \
0      This event took place in early fall around 194...       4/27/2004
1      1949 Lackland AFB&#44 TX.  Lights racing acros...      12/16/2005
2      Green/Orange circular disc over Chester&#44 En...       1/21/2008
3      My older brother and twin sister were leaving ...       1/17/2004
4      AS a Marine 1st Lt. flying an FJ4B fighter/att...       1/22/2004
...                                                  ...             ...
80327  Round from the distance/slowly changing colors...       9/30/2013
80328  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...       9/30/2013
80329                                       Napa UFO&#44       9/30/2013
80330  Saw a five gold lit cicular craft moving fastl...       9/30/2013
80331  2 witnesses 2  miles apart&#44 Red &amp; White...       9/30/2013

         latitude   longitude
0      29.8830556  -97.941111
1        29.38421  -98.581082
2            53.2   -2.916667
3      28.9783333  -96.645833
4      21.4180556 -157.803611
...           ...         ...
80327  36.1658333  -86.784444
80328  43.6136111 -116.202500
80329  38.2972222 -122.284444
80330  38.9011111  -77.265556
80331  35.6527778  -97.477778

[80332 rows x 11 columns]>

In [11]:
df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['length_of_encounter_seconds'] = pd.to_numeric(df['length_of_encounter_seconds'], errors="coerce")
df.dropna(axis=0, inplace=True)
#pd.options.display.float_format='{:,.2f}'.format

df

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,"2,700.00",45 minutes,This event took place in early fall around 194...,4/27/2004,30.00,-97.94
3,10/10/1956 21:00,edna,tx,us,circle,20.00,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,29.00,-96.65
4,10/10/1960 20:00,kaneohe,hi,us,light,900.00,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.00,-157.80
5,10/10/1961 19:00,bristol,tn,us,sphere,300.00,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,37.00,-82.19
7,10/10/1965 23:45,norwalk,ct,us,disk,"1,200.00",20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.00,-73.41
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600.00,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.00,-86.78
80328,9/9/2013 22:00,boise,id,us,circle,"1,200.00",20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,44.00,-116.20
80329,9/9/2013 22:00,napa,ca,us,other,"1,200.00",hour,Napa UFO&#44,9/30/2013,38.00,-122.28
80330,9/9/2013 22:20,vienna,va,us,circle,5.00,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,39.00,-77.27
80331,9/9/2013 23:00,edmond,ok,us,cigar,"1,020.00",17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,36.00,-97.48

In [16]:
#shapes
ss.catplot(y="UFO_SHAPE", kind="count",
          palette-"magma", edgecolor='8',
          data=df.sort_values("UFO_shapes"))

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_14728/553408535.py, line 4)